<!-- <p>register works!</p> -->


<h5 class="mb-2 text-xl font-bold tracking-tight">Register your account</h5>
<p class="font-normal">Make a quick registration</p>

<div class="h-4"></div>

<!-- error: {{registerForm.hasError| json}} -->

<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
  <div class="mb-5">
    <app-custom-control-input ngDefaultControl label="Your name" [type]="'text'" [id]="'name'" name="name" ref="name" [(ngModel)]="model.name" [validationAttribute]="['required']" [required]="true" errorMsg="Provide your name" />
  </div>
  <div class="mb-5">
    <app-custom-control-input ngDefaultControl label="Your email" [type]="'email'" [id]="'email'" name="email" ref="email" [(ngModel)]="model.email" [validationAttribute]="['required', 'email']" [required]="true" [email]="true" errorMsg="Provide your email address" />
  </div>
  <div class="mb-5">
    <app-custom-control-input ngDefaultControl label="Your password" [type]="'password'" [id]="'password'" name="password" ref="password" [(ngModel)]="model.password" [validationAttribute]="['required']" [required]="true" errorMsg="Provide your password" />
  </div>

  <button type="submit" [disabled]="isLoading || registerForm.invalid" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    <span *ngIf="!isLoading">Register</span>
    <span *ngIf="isLoading">Logging in...</span>
  </button>
</form>
<div class="h-2"></div>
<p class="text-sm">
  Already hav an account? <a [routerLink]="['/auth/login']" class="text-blue-400 hover:text-blue-500 font-semibold">Login</a>
</p>