<!-- <p>post-list works!</p> -->

<div class="flex items-center gap-8 justify-between mb-8">
  <h1 class="text-2xl font-bold">Posts</h1>

  <a [routerLink]="['/posts/add']" class="block border border-gray-200 px-4 py-2 rounded-md">Add New</a>
</div>



<div class="relative overflow-x-auto">
  <table class="w-full text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Title
        </th>
        <th scope="col" class="px-6 py-3">
          Date
        </th>
        <th scope="col" class="px-6 py-3">
          Author
        </th>
        <th scope="col" class="px-6 py-3">
          Approve
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white max-w-96">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, enim possimus! Sit mollitia quod impedit.
        </th>
        <td class="px-6 py-4">
          Silver
        </td>
        <td class="px-6 py-4">
          Laptop
        </td>
        <td class="px-6 py-4">
          $2999
        </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white max-w-96">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vitae quos odit nemo cumque, repellat quod? Quaerat, libero? Ad labore ipsam esse saepe!
         </th>
        <td class="px-6 py-4">
          White
        </td>
        <td class="px-6 py-4">
          Laptop PC
        </td>
        <td class="px-6 py-4">
          $1999
        </td>
      </tr>
    </tbody>
  </table>
</div>
