<!-- <p>post-list works!</p> -->

<ul class="grid grid-cols-12 gap-4">
    <!-- <li class="col-span-12 md:col-span-6">
      A
    </li>
    <li class="col-span-12 md:col-span-6">
      B
    </li> -->
    <li class="col-span-12">
        <h3 class="text-xl font-semibold mb-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut nostrum in vitae incidunt?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod fugit aut dicta, earum eos rem consequuntur laborum non perspiciatis? Soluta veniam nulla autem dicta hic sint, sequi pariatur officiis dolorem.</p>
      </li>
      <li class="col-span-12">
        <h3 class="text-xl font-semibold mb-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut nostrum in vitae incidunt?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod fugit aut dicta, earum eos rem consequuntur laborum non perspiciatis? Soluta veniam nulla autem dicta hic sint, sequi pariatur officiis dolorem.</p>
      </li>
</ul>